/*
RESET
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COMMON
*/

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
MAIN
*/

/* Menu a sinistra del layout */
.big-container {
  height: calc(100% - 5.625rem);
}

.menu-left {
  background-color: #000000;
  flex-direction: column;
}

.logo {
  padding: 1.25rem 1.25rem;
}

/* HOME TOP */
.home {
  flex-direction: column;
}

.text-home {
  display: flex;
  align-items: center;
}

.text-home img {
  width: 1.875rem;
  margin-left: 1.25rem;
  margin-bottom: 0.625rem;
}

.text-home span {
  color: white;
  padding: 0rem 0.625rem;
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}
/* /HOME TOP */

/* PLAYLIST PIU LIST */
.playlist {
  color: white;
  padding: 1.25rem 1.25rem;
  flex-direction: column;
  overflow: hidden;
}

.playlist .list {
  overflow-y: auto;
}

.playlist h4 {
  padding-bottom: 0.9375rem;
}

.top-list {
  margin-bottom: 1.25rem;
}

.top-list i {
  background-color: #a3a3a3;
  width: 1.875rem;
  height: 1.875rem;
  padding-top: 0.4375rem;
  color: #000000;
  text-align: center;
  margin-right: 0.3125rem;
}

.playlist li {
  padding-bottom: 0.9375rem;
}
/* /PLAYLIST PIU LIST */

/* USER */
.user {
  background-color: #000000;
  margin-top: auto;
}

.user .hr {
  background-color: #a3a3a3;
  height: 2px;
  width: 85%;
  margin: 0 auto;
}

.user span {
  color: white;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  margin-left: -0.625rem;
}

.user .img-user img {
  width: 1.25rem;
  height: 1.25rem;
  margin: 1.25rem 1.25rem;
}

.user .app {
  margin-bottom: -10px;
  display: flex;
}

.user .profilo {
  display: flex;
}

.profilo img {
  background-color: #808080;
  border-radius: 1.25rem;
}
/* /USER */

/* Main a destra del layout */
.main-right {
  flex-grow: 1;
  background-color: #141921;
}

/* MAIN TOP */
.main-top {
  background-color: #080b12;
  justify-content: end;
}

.main-top button {
  border-style: none;
  border-radius: 1.875rem;
  padding: 0.9375rem 3.125rem;
  color: white;
  background-color: #080b12;
  margin: 1.25rem 0.3125rem;
  border: 1px solid white;
}

/*
FOOTER
*/
footer {
  height: 5.625rem;
  background-color: gray;
}
